/*imports fontes*/
@import url('https://fonts.googleapis.com/css?family=Allan')
@import url('https://fonts.googleapis.com/css?family=Molengo')
@import url('https://fonts.googleapis.com/css?family=Dancing+Script')    
/*reset*/
*
    font-size 100%
    margin 0
    padding 0

/*cores*/

/*Estilos de Fontes para títulos*/
.Allan
    font-family 'Allan', cursive //Allan
.Dancing
    font-family 'Dancing Script', cursive //Dancing
.molengo
    font-family 'Molengo', sans-serif //Molengo