/*imports fontes*/
@import url('https://fonts.googleapis.com/css?family=Allan')
@import url('https://fonts.googleapis.com/css?family=Molengo')
@import url('https://fonts.googleapis.com/css?family=Dancing+Script')   
/*Estilos de Fontes para títulos*/
.Allan
    font-family 'Allan', cursive //Allan
.Dancing
    font-family 'Dancing Script', cursive //Dancing
.molengo
    font-family 'Molengo', sans-serif //Molengo 
/*vars mídias queryes*/ 
//Computadores
$Desk1 = 68em
$Desk2 = 82em
$Desk3 = 100em
//Celulares
$celular1 = 20em
$celular2 = 37em
$celular3 = 41em
//Tablets
$tablet1 = 47em   
/*reset*/
*
    box-sizing border-box
    font-size 100%
    margin 0
    padding 0

/*cores*/
$danger  = #E53935
$primary = #2196F3
$success = #00C853
$warning = #FFEB3B

