/*
ROC Framework
*/
@import url("https://fonts.googleapis.com/css?family=Allan");
@import url("https://fonts.googleapis.com/css?family=Molengo");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
* {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
.Allan {
  font-family: 'Allan', cursive;
}
.Dancing {
  font-family: 'Dancing Script', cursive;
}
.molengo {
  font-family: 'Molengo', sans-serif;
}
